@font-face {
    font-family: "Guillon";
    src: url("/fonts/Guillon-Regular.woff2") format("woff2");
    font-weight: normal;

}

@font-face {
    font-family: "Guillon";
    src: url("/fonts/Guillon-Demi.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Guillon";
    src: url("/fonts/Guillon-Bold.woff2") format("woff2");
    font-weight: 900
}

