<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Hey my name is Théo, on this website I put my projects, some blog posts as well as funny garbage :)">
  <title>{{config.extra.brand_name}}</title>
  <link rel="stylesheet" href="/public.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css">
  <script src="https://unpkg.com/swup@4"></script>

  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js"></script>

  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.min.js" onload="show_maths()"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://unpkg.com/@swup/progress-plugin@3"></script>
  {% block meta %} {% endblock %}
</head>

<body>
  
  <span id="load"></span>
  <nav>
  
    <p id="brand"><a href="/">{{config.extra.brand_name}}.</a></p>

    <ul>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/now">Now</a></li>
    </ul>
  </nav>

  
  <main id="swup" class="transition-fade">
    <!--<div id="color" style="background-color: {{section.extra.color | default(value='white')}}"></div>-->
    <div id="content">
    {% block content %} {% endblock %}
    </div>

    <div id="toc">
      {% block toc %} {% endblock %}
    </div>

  </main>



  <script>
    function show_maths() {
      renderMathInElement(document.body, {
        // customised options
        // • auto-render specific keys, e.g.:
        delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '$', right: '$', display: false},
          {left: '\\(', right: '\\)', display: false},
          {left: '\\[', right: '\\]', display: true}
        ],
        // • rendering keys, e.g.:
        throwOnError : false
      });
    }
    const swup = new Swup({
      plugins: [new SwupProgressPlugin()]
    });
    swup.hooks.on('page:view', (visit) => {
      show_maths();
    });

    function getScrollPercent() {
    var h = document.documentElement, 
        b = document.body,
        st = 'scrollTop',
        sh = 'scrollHeight';
    return (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;
}
    document.addEventListener("scroll", (event) => {

      // Use the scroll percentage as needed
      let percentage = getScrollPercent();
      document.getElementById("load").style.width = percentage+"vw"
    });
  </script>

</body>

</html>

