{% extends "base.html" %}
{% block content %}
<div class="header">
    {% if page.extra.image %}
    <img src="{{page.extra.image}}" alt="">
    {% endif %}
    <h1>{{page.title}}</h1>
    <p class="date"> {{page.date}}</p>
</div>
<article>
    <br>
    {{page.content | safe}}
</article>


{% endblock content %}

{% block toc %}
<div class="page-toc">
{% if page.toc %}
    <h3>Table of contents</h3>
    <ul style="list-style: '- ';">
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul style="list-style: '- ';">
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
</div>
{% endblock toc %}

{% block meta %}
<meta property="og:title" content="{{page.title}}">
<meta property="og:description" content="{{page.summary  | safe}}">
{% if page.extra.image %}
<meta property="og:image" content="{{page.extra.image | safe}}">
{% else %}
<meta property="og:image" content="{{config.base_url | safe }}/banner.png">
{% endif %}
<meta property="og:url" content="{{config.base_url | safe }}{{page.path | safe}}">
<meta property="og:type" content="{{config.base_url | safe }}">
<meta property="og:site_name" content="{{config.extra.brand_name}}">

<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description" content="{{page.summary  | safe}}">
{% if page.extra.image %}
<meta name="twitter:image" content="{{page.extra.image | safe}}">
<meta name="twitter:card" content="{{page.extra.image | safe}}">
{% else %}
<meta name="twitter:image" content="{{config.base_url | safe }}/banner.png">
<meta name="twitter:card" content="{{config.base_url | safe }}/banner.png">
{% endif %}
<meta name="twitter:site" content="@Kaporos">
<meta name="description" content="{{page.summary}}">
{% if page.taxonomies["tags"] %}
<meta name="keywords" content="{% for tag in page.taxonomies['tags']%}{{tag}},{% endfor %}">
{% endif %}
<meta name="robots" content="index, follow">
{% endblock %}